@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: "Poppins",sans-serif;
    background-color: #f5f2f0;

}

/*--------------- navbar --------------- */
.navbar-container .navbar{
    display: flex;
    justify-content: space-between;
    height:8vh;
    align-items: center;
    overflow-x: auto;
    width:100vw;
}
.navbar-container .navbar img{
    width:110px;
    margin-left:50px;
}
.navbar .list-items{
    position: relative;
    display:flex;
    justify-content: space-between;
    list-style-type: none;
    gap:50px;
    font-size:1.1rem;
    align-items: center;
    color:#868686;
    margin-right: 20px;
}
.navbar .list-items .list-item{
    cursor: pointer;
}
.navbar .list-items .list-item:nth-child(2){
    color:#000;
    font-size:1.2rem;
}
.line{
    position: absolute;
    left:-420px;
    height: 1.52px;
    width:80%;
    border-radius: 40px;
    background-color: #4e3535;
}
/*---------------- left image ----------------- */
.main-section{
    display:flex;
}
.left-container{
    width:36vw;
}
.left-container .left-image{
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    width:36vw;
    z-index: -1;
}
.left-container .left-image img{
    position:absolute;
    width:100%;
    top:0;
    height: 100vh;
    left:0;
    bottom: 0;
    object-fit: cover;
}
/*------------- right section ----------- */
.right-container{
    display:flex;
    position:relative;
    width: 64vw;
}
.heading{
    position: absolute;
    left:10%;
    top:-20px;
}
.heading h1{
    font-family: "Merriweather";
    font-size: 7.3rem;
    color:#333;
    font-weight: 900;
}
.heading > h1{
    color:transparent;
    -webkit-text-stroke-width:1px;
    -webkit-text-stroke-color:#000;
}
.heading >h1::after{
    content:'';
    width:50px;
    height:12px;
    display:inline-block;
    border: 2px solid #898888;
    margin-bottom: 25px;
}
.heading div{
    margin-left: 110px;
    color:#333;
    display: flex;
    align-items: center;
}
.heading div p{
    margin-left: 40px;
    margin-top: 30px;
    color:#898888;
    line-height: 35px;
    font-weight: normal;
    font-size:1.8rem;
}
.btn{
    position:absolute;
    right:0;
    bottom:-70px;
    right:40px;
}
.right-container .btn{
    margin-right: -240px;
}
.right-container .btn button{
    background-color: #333;
    color:#fff;
    border: none;
    font-weight: normal;
    cursor: pointer;
    font-size:1.2rem;
    padding:13px 60px;
}
.social-icons{
    position: absolute;
    display:flex;
    right:0px;
    top:0px;
    flex-direction: column;
    gap:34px;
    margin-right:80px;
    margin-top: 20px;
}
.social-icons img{
    width:30px;
    cursor: pointer;
    
}

/*------------------- bottom-section --------------- */
.bottom-container{
    position: absolute;
    top:360px;
    left:100px;
}
.bottom-container ul
{
    display:flex;
    list-style-type: none;
    flex-direction: column  ;
    justify-content: center;
}
.bottom-container ul li{
    font-size: 1.3rem;
    color:#868686;
    display:flex;
    align-items: center;
}
.bottom-container ul li:not(:last-child){
    margin-bottom: 28px;
}
.bottom-container ul li span{
    background-color: #868686;
    width:15px;
    height:15px;
    border-radius: 50px;
    display:inline-block;
    vertical-align: center;
    margin-right: 18px;
}
.active-item .dot{
    background-color: #333;
}
.active-item p{
    color:#333;
}
.bottom-container .line-dot{
    height: 110%;
    width:1.55px;
    background-color: #868686;
    position:absolute;
    left:7px;
    top:20px;
}
.bottom-quote{
    position: absolute;
    left:330px;
    top:305px;
}
.bottom-quote p{
    font-size:1.1rem;
    margin-bottom: 10px;
    margin-top: 10px;
    color:#333;
}
.image{
    width:410px;
    height: 250px;
}
.image img{
    object-position: top;
    object-fit: cover;
    height: 100%;;
    width:100%;
}
.quote-icon .fa-quote-right{
    color:#333;
    font-size: 3rem;
}
.arrow{
    position: absolute;
    right:-140px;
    bottom:10px;
}
.arrow img{
    width:60px;
}
